<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="flex horz main_all">
        <div class="flex column main__leftColumn_all main__columnGeneral_all">
        </div>
        <div class="flex column main__centerColumn_all">
            <div class="flex column formContainer_all mx-4">
                <form class="needs-validation flex column" action="/crypto/<%= crypto._id %>?_method=PUT" method="POST" novalidate>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Crypto Name</span>
                            <input class="form-control" type="text" maxlength="700" name="coinName" 
                            id="coinName" placeholder="Bitcoin" value="<%= crypto.coinName %>" required>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Crypto Sign</span>
                            <input class="form-control" type="text" maxlength="36" 
                            name="coinSign" id="coinSign" placeholder="BTC" value="<%= crypto.coinSign %>" required>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Crypto Image</span>
                            <input class="form-control" type="text" maxlength="700" name="coinImg" 
                            id="coinImg" placeholder="coinImg(URL)" value="<%= crypto.coinImg %>" required>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Info</span>
                            <textarea class="form-control" id="coinInfo" name="coinInfo" placeholder="It's.." rows="3"><%= crypto.coinInfo %></textarea>
                        </div>
                        <button class="btn btn-warning mt-3 mx-auto postButton">Update Crypto</button>
                </form>
            </div>
        </div>
        <div class="flex column main__rightColumn_all outsideColumnGeneral_all">

        </div>
    </div>
<%- include('../partials/validator') %>
</body>
</html>
</body>
</html>